<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farmo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.consumerActivities.ConsumerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.MyProductsActivity"
            android:exported="false" />
        <activity
            android:name=".MyEarningsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ActivateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IdentifyUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.FarmerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>